/** COMPILED 09/17/2018 04:17:30 PM **/
.ui-widget
{
	font-size:12px;
}

.ui-icon-wrench
{
	cursor: pointer;
}

.jtable tr .ui-state-hover
{
	font-weight: normal;
}

.actions
{
	padding: 5px;
	margin: 7px;
	float: left;
}

.actions > div
{
	padding: 4px;
}

.actions button
{
	width:200px;
}

.actions .ui-button-text
{
	font-size:14px;
}

.profiles
{
	float: right;
}

.profiles > fieldset > div
{
	background-image:url("css/images/member_profiles_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.accountbalances > fieldset > div
{
	background-image:url("css/images/account_balances_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.accountbalances .ui-icon-alert
{
	float:left;
}

.concussioncompliance > fieldset > div
{
	background-image:url("css/images/concussion_compliance_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.notices > fieldset > div
{
	background-image:url("css/images/notices_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.manage > fieldset > div
{
	background-image:url("css/images/manage_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.player > fieldset > div
{
	background-image:url("css/images/player_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.backgroundchecks > fieldset > div
{
	background-image:url("css/images/background_check_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.memberinformation > fieldset > div
{
	background-image:url("css/images/member_information_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.teamassignments > fieldset > div
{
	background-image:url("css/images/team_assignments_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.pastregistrations > fieldset > div
{
	background-image:url("css/images/past_registrations_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.changepassword > fieldset > div
{
	background-image:url("css/images/change_password_bg.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	min-height:81px;
}

.controls
{
	float:right;
	font-size:12px;
}

#balanced
{
	margin-top: 10px;
}

th,td
{
	padding: 6px;
}

fieldset
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.headerdiv
{
	padding: 8px;
	font-weight: bold;
}

#off-field
{
	padding-left: 8px;
	padding-right: 8px;
}

#sport-div
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.ui-button-text
{
	font-weight:bold;
}


/* PAY NOW BUTTON */

.paynow.ui-state-default, .paynow.ui-widget-content .ui-state-default, .paynow.ui-widget-header .ui-state-default { border: 1px solid #14851b; background: #41da2f url("css/jqueryUI/memberhome/images/ui-bg_glass_75_41da2f_1x400.png") 50% 50% repeat-x; font-weight: normal; color: #000; }
.paynow.ui-state-default a, .paynow.ui-state-default a:link, .paynow.ui-state-default a:visited { color: #000; text-decoration: none; }
.paynow.ui-state-hover, .paynow.ui-widget-content .ui-state-hover, .paynow.ui-widget-header .ui-state-hover, .paynow.ui-state-focus, .paynow.ui-widget-content .ui-state-focus, .paynow.ui-widget-header .ui-state-focus { border: 1px solid #14851b; background: #5ced5a url("css/jqueryUI/memberhome/images/ui-bg_glass_75_5ced5a_1x400.png") 50% 50% repeat-x; font-weight: normal; color: #000; }
.paynow.ui-state-hover a, .paynow.ui-state-hover a:hover { color: #000; text-decoration: none; }
.paynow.ui-state-active, .paynow.ui-widget-content .ui-state-active, .paynow.ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url("css/jqueryUI/memberhome/images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x; font-weight: normal; color: #212121; }
.paynow.ui-state-active a, .paynow.ui-state-active a:link, .paynow.ui-state-active a:visited { color: #212121; text-decoration: none; }
.paynow.ui-widget :active { outline: none; }

.paynow.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: hidden; *overflow: visible; } /* the overflow property removes extra width in IE */
.paynow.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.paynow.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.paynow.ui-button-icons-only { width: 3.4em; }
button.paynow.ui-button-icons-only { width: 3.7em; }

/*button text element */
.paynow.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.paynow.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.paynow.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.paynow.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.paynow.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.paynow.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.paynow.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.paynow.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.paynow.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.paynow.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.paynow.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.paynow.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.paynow.ui-buttonset { margin-right: 7px; }
.paynow.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

.upload-insurance {
	 background: #000;
}

/* workarounds */
button.paynow.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

/* END PAYNOW BUTTON STYLE */


table, th.ui-state-default, tr, td { border-collapse:collapse; }

.upload, .view-only {
	width: 52px;
	margin-top: 34px;
	margin-left: 5px;
	padding: 0px;
	z-index: 1000;
	opacity: .6;
	font-size: 9px;
	position: absolute;
	cursor: pointer;
}
.remove {
	width: 52px;
	margin-top: 30px;
	margin-left: 5px;
	padding: 0px;
	z-index: 1000;
	opacity: .6;
	font-size: 9px;
	position: absolute;
	cursor: pointer;
}
.view {
	width: 52px;
	margin-top: 8px;
	margin-left: 5px;
	padding: 0px;
	z-index: 1000;
	opacity: .6;
	font-size: 9px;
	position: absolute;
	cursor: pointer;
}
a.view {
	text-decoration: none;
}
td.personDocCell {
	background-image: none !important;
	background-repeat: no-repeat;
	background-position: center center;
}
td.personDocCell a.personDoc {
	color: #007EC1;
	cursor: pointer;
	display: block;
	height: 50px;
	line-height: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}
td.personDocCell a.personDoc-pending {
	color: #666666;
}
#photoUpload, #photoRemove {
	display: none;
}
.photoCell {
	width: 85px;
	height: 62px;
	padding: 2px;
}
.bg-chk-clear {
	margin-left: 10px;
	margin-top: 20px;
}
div#lightbox, div#lightbox-overlay{
	z-index: 1000;
}
.bcPhotoCell {
	display: inline-flex;
	padding-top: 8px;
}
#mem-profiles {
	width: 100%;
}
#mem-profiles td {
	margin: 2px 10px;
}
.member-name {
	width: 26%;
}
.mem-profiles {
	border-bottom: 1px solid lightgrey;
}
.officials-btn {
	width: 100px;
}
#lightbox-overlay-text-about {
	display: none;
}

.ussoccer-ndc .ui-widget-content {
	vertical-align: top;
}

.ui-widget-content .ussoccer-ndc-ids {
	list-style-type: none;
	margin-top: 5px;
}

.ui-widget-content .ussoccer-ndc-ids  li {
	font-size: 12px;
}

.ui-widget-content .ussoccer-ndc-ids .missing-required {
	color: #FF0000;
}/*
 * This file is for GENERIC UI Styling across all bonzi products. Styling that
 * targets a specific bonzi product, page, or element ID, should not be placed
 * in this file. Styling that affects layout in a non-reusable way should not be
 * placed in this file.
 *
 * COMMENTS ON NEW ADDITIONS IS APPRECIATED
 */

 .hidden-accessible
 {
	position: absolute !important;
	clip: rect( 1px, 1px, 1px, 1px ) !important;
 }

/* Set text-align center on whatever. */
.ui-text-align-center
{
	text-align: center;
}

/* Change the color of the warning and error dialog box title bars. */
.warning-dialog .ui-dialog-titlebar-close,
.error-dialog .ui-dialog-titlebar-close
{
	display: none;
}

.warning-dialog .ui-dialog-titlebar
{
	background-image: none;
	background-color: #f80;
	border-color: #f80;
	color: white;
}

.error-dialog .ui-dialog-titlebar
{
	background-image: none;
	background-color: #f33;
	border-color: #f33;
	color: white;
}

.warning-dialog .ui-dialog-title,
.error-dialog .ui-dialog-title
{
	color: white;
}

hr.bonzi
{
	border: 1px solid #aaa;
	border-width: 1px 0px 0px 0px;
}

.bonzi-content-fill
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
}

.bonzi-unselectable
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.bonzi-unselectable.bonzi-allow-select-input input,
.bonzi-unselectable.bonzi-allow-select-input textarea
{
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	-o-user-select: auto;
	user-select: auto;
}

/* A bonzi-group is a framed block element that may have a title. */
.bonzi-group
{
	/*display: block;*/
	position: relative;
	overflow: visible;
	margin: 28px 10px 15px 10px;
	padding: 16px 0px 0px 0px;
}

.bonzi-group-borderless
{
	position: relative;
	overflow: visible;
	margin: 10px;
	padding: 0px;
}

.bonzi-group > .bonzi-group-title
{
	display: block;
	position: absolute;
	overflow: visible;
	cursor: default;
	margin: 0px;
	padding: 2px 10px 0px 10px;
	height: 10px;
	top: -13px;
	left: 10px;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.3;
	border-top: inherit;
	border-left: inherit;
	border-right: inherit;
	border-bottom: none !important;
	-moz-border-radius-topleft: inherit;
	-webkit-border-top-left-radius: inherit;
	border-top-left-radius: inherit;
	-moz-border-radius-topright: inherit;
	-webkit-border-top-right-radius: inherit;
	border-top-right-radius: inherit;
	background-color: inherit;
}

/* CSS Hack Target Firefox 3.6+ [!] */
html>/**/body fieldset.bonzi-group > legend.bonzi-group-title, x:-moz-any-link, x:default
{
	top: -29px;
}

/* CSS Hack Targeting Firefox 4 (10) and newer, overrides FF3 fix */
:-moz-any(fieldset.bonzi-group) > :-moz-any(legend.bonzi-group-title)
{
	top: -13px !important;
}

/* CSS Hack Targeting IE 7 */
*:first-child+html .ui-icon
{
	display: block !important;
	float: left;
}

.bonzi-group > .bonzi-group-title > .ui-icon
{
	display: inline-block;
	vertical-align: text-bottom;
}

.bonzi-group > .bonzi-group-content,
.bonzi-group-borderless > .bonzi-group-content
{
	display: block;
	position: relative;
	overflow: visible;
	margin: 0px 10px 14px 10px;
	padding: 0px;
}

.bonzi-group > .bonzi-group-content.bonzi-content-fill,
.bonzi-group-borderless > .bonzi-group-content.bonzi-content-fill
{
	margin-top: 16px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.bonzi-group-borderless > .bonzi-group-content
{
	margin: 0px;
}

.bonzi-subgroup
{
	display: block;
	position: relative;
	overflow: auto;
	margin: 10px;
	padding: 10px;
	background-color: #eee;
}

.bonzi-subgroup .bonzi-subgroup-title
{
	display: block;
	margin: 0px 0px 10px 0px;
	font-weight: bold;
}

/*
A bonzi-layout-table is a table element that is used purely arranging NON-list
content horizontally and vertically. The table should not have any visible
styling unless you're sure it makes sense.
*/
table.bonzi-layout-table
{
	width: auto;
	table-layout: fixed;
}

table.bonzi-layout-table,
table.bonzi-layout-table > thead > tr > th,
table.bonzi-layout-table > tbody > tr > th,
table.bonzi-layout-table > thead > tr > td,
table.bonzi-layout-table > tbody > tr > td
{
	vertical-align: top;
}

table.bonzi-layout-table,
table.bonzi-layout-table > thead > tr,
table.bonzi-layout-table > tbody > tr,
table.bonzi-layout-table > thead > tr > th,
table.bonzi-layout-table > tbody > tr > th,
table.bonzi-layout-table > thead > tr > td,
table.bonzi-layout-table > tbody > tr > td
{
	margin: 0px;
	padding: 0px;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.bonzi-layout-table > tbody > tr > td > .bonzi-group,
table.bonzi-layout-table > tbody > tr > td > .bonzi-subgroup
{
	margin-bottom: 0px;
}

/*
The work-frame class just sets a min-width on the body so that theoretically no
matter how narrow the user makes the browser window, the content will think it
has at least that min width.
*/
body.work-frame
{
	min-width: 800px !important;
}

/*
This is overriding default styling that's too heavy handed :P. At some point we
should fix the default styling.
*/
.ui-simplelist a
{
	text-decoration: underline !important;
	color: blue !important;
}

.ui-simplelist tr.ui-simplelist-expanded td.ui-simplelist-expanded-cell
{
	background: #eee;
	border-bottom-color: #eee !important;
}
.ui-simplelist td.ui-simplelist-expand-content
{
	background: #eee;
}

/* Bonzi Calendar Icon */
.bonzi-calendar-icon
{
	display: inline-block;
	background-image: url('../images/but_calendar_fa.png');
	height: 13px;
	width: 19px;
}

/*
 * This is a fix for default.css setting p margin and padding to silly values.
 * I may not be able to fix them everywhere without breaking something, but I
 * can at least make them sensible for dialog boxes.
 */
.ui-dialog-content p
{
	margin: 1.25em 0px;
	padding: 0px;
}

/* Bonzi jquery.ui.widgetBase.js temporary pop-up notice styling. */
.bonzi-notice-container
{
	position: fixed;
	z-index: 2000;
	top: 15px;
	left: 0px;
	right: 15px;
	height: 0px;
	overflow: visible;
}

.bonzi-notice
{
	margin: 0px 0px 5px auto;
	padding: 10px;
	/*-moz-box-shadow: 0px 2px 8px -2px #000;
	-webkit-box-shadow: 0px 2px 8px -2px #000;
	box-shadow: 0px 2px 8px -2px #000;*/
}

.bonzi-notice-success
{
	color: #0a0;
	border-color: #0c0;
	background-color: #efe;
	background-image: none;
}

.bonzi-notice-warning
{
	color: #c90;
	border-color: #fc0;
	background-color: #ffe;
	background-image: none;
}

.bonzi-notice-error
{
	color: #d00;
	border-color: #f00;
	background-color: #fee;
	background-image: none;
}

/* Add a shadow to items being sorted. */
.ui-sortable-helper > div.ui-state-default,
ol.bonzi-form .ui-sortable-helper
{
	/*-moz-box-shadow: 0px 2px 8px -2px #000;
	-webkit-box-shadow: 0px 2px 8px -2px #000;
	box-shadow: 0px 2px 8px -2px #000;*/
}

/* Style ordered list based bonzi forms. See the jquery.ui.bonziformbuilder.js plugin. */
ol.bonzi-form,
ol.bonzi-form ol
{
	list-style-type: none;
	cursor: default;
}

ol.bonzi-form
{
	margin-left: 0px;
	padding-left: 0px;
}

ol.bonzi-form ol
{
	margin-left: 25px;
	padding-left: 0px;
}

ol.bonzi-form li.bonzi-form-group > ol
{
	margin-left: 0px;
}

ol.bonzi-form li > div
{
	padding-left: 5px;
	padding-right: 5px;
}

ol.bonzi-form li > div > *
{
	/* For multiline labels or inputs, float to the top of the list item. */
	vertical-align: middle;
}

label.bonzi-form-required,
ol.bonzi-form li.bonzi-form-required > div > span:first-child,
ol.bonzi-form li.bonzi-form-required > div > label:first-child
{
	/* Highlight required labels. */
	font-weight: bold;
}

ol.bonzi-form li
{
	/* Makes form items look nice when being dragged and dropped in the editor. */
	background-color: #fff;
}

ol.bonzi-form li > div > span:first-child,
ol.bonzi-form li > div > label:first-child
{
	/* Form item label text. */
	display: inline-block;
	margin-right: 15px;
}

ol.bonzi-form .bonzi-form-checkboxes
{
	display: inline-block;
}

ol.bonzi-form li.bonzi-form-group
{
	margin: 10px 20px 10px 20px;
	padding: 0px 5px 10px 5px;
}

ol.bonzi-form li.bonzi-form-group li.bonzi-form-group
{
	margin: 10px 0px 0px 20px;
	padding-bottom: 0px;
	border: none;
}

ol.bonzi-form li.bonzi-form-group li.bonzi-form-group > ol
{
	margin-left: 0px;
}

ol.bonzi-form li.bonzi-form-group > div
{
	margin-top: 5px;
	margin-bottom: 5px;
}

ol.bonzi-form li.bonzi-form-group > div > span:first-child,
ol.bonzi-form li.bonzi-form-group > div > label:first-child
{
	margin: 0px;
	font-size: 150%;
	font-weight: bold;
}

ol.bonzi-form li.bonzi-form-group li.bonzi-form-group > div > span:first-child,
ol.bonzi-form li.bonzi-form-group li.bonzi-form-group > div > label:first-child
{
	font-size: 125%;
}

ol.bonzi-form li.bonzi-form-placeholder
{
	background-color: #dfd;
}

ol.bonzi-form li.bonzi-form-hidden
{
	display: none;
}

ol.bonzi-form li.bonzi-form-hidden > div > span:first-child,
ol.bonzi-form li.bonzi-form-hidden > div > label:first-child
{
	text-decoration: line-through;
}

ol.bonzi-form .bonzi-form-edithelper a
{
	text-decoration: underline;
}

ol.bonzi-form .bonzi-form-edithelper a:hover
{
	color: #00f !important;
}

.bonzi-topbar
{
	position: fixed;
	z-index: 500;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width: 960px;
	height: 58px;
	/*-moz-box-shadow: 0px 0px 6px #000;
	-webkit-box-shadow: 0px 0px 6px #000;
	box-shadow: 0px 0px 6px #000;*/
	/*background: #000 url('css/images/bonzi.ui/topbar_bg.png') repeat-x left bottom;*/
}
.bonzi-topbar,
.bonzi-topbar > div,
.bonzi-topbar > div > div
{
	margin: 0px;
	padding: 0px;
	/*color: white;*/
}
.bonzi-topbar > .bonzi-topbar-left
{
	position: absolute;
	top: 0px;
	left: 10px;
	right: 10px;
	height: 22px;
}
.bonzi-topbar > .bonzi-topbar-right
{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 58px;
}
.bonzi-topbar > .bonzi-topbar-left > *
{
	vertical-align: top;
	height: 22px;
	line-height: 22px;
	float: left;
}
.bonzi-topbar ul.bonzi-menu
{
	/*color: white;*/
}
.bonzi-topbar ul.bonzi-menu > li
{
	padding-top: 0px;
	padding-bottom: 0px;
}
.bonzi-topbar ul.bonzi-menu > li > .ui-icon
{
	display: inline-block;
	vertical-align: middle;
}
/*.bonzi-topbar ul.bonzi-menu > li > ul.bonzi-menu-not-sidebyside.bonzi-menu-bottom
{
	border-top: none;
}*/
.bonzi-topbar ul.bonzi-menu > li li
{
	line-height: 2;
}
.bonzi-topbar ul.bonzi-menu li
{
	font-weight: inherit;
}

.bonzi-page-minwidth
{
	min-width: 960px;
	margin: 0px;
	padding: 0px;
}

.bonzi-content
{
	min-width: 960px;
	margin: 0px;
	padding: 0px;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: 40px solid transparent;
	overflow: visible;
}

.bonzi-fixed-toolbox
{
	position: fixed;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 1;
	overflow: auto;
	background: transparent url('css/images/top-fadeout.png') repeat-x left bottom;
}

input[type="text"],
input[type="password"],
textarea
{
	border: 1px solid #888;
	margin: 0px;
	padding: 2px;
}

.clear-button-image
{
	display: block;
	height: 32px;
	width: 32px;
	margin: 0px;
	padding: 0px;
	background: transparent url('css/images/clear.png') no-repeat left top;
}

.bonzi-button
{
	margin: 0px;
	padding: 0px;
}

.bonzi-swap-top-left,
.bonzi-swap-top-right,
.bonzi-swap-bottom-left,
.bonzi-swap-bottom-right,
.bonzi-icon-undo,
.bonzi-icon-redo
{
	display: block;
	height: 16px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
}
.bonzi-swap-top-left
{
	background-image: url('css/images/swap.png');
	background-position: left top;
}
.bonzi-swap-top-right
{
	background-image: url('css/images/swap.png');
	background-position: right top;
}
.bonzi-swap-bottom-left
{
	background-image: url('css/images/swap.png');
	background-position: left bottom;
}
.bonzi-swap-bottom-right
{
	background-image: url('css/images/swap.png');
	background-position: right bottom;
}
.bonzi-icon-undo
{
	background-image: url('css/images/undo.png');
	background-position: right top;
}
.bonzi-icon-redo
{
	background-image: url('css/images/redo.png');
	background-position: right top;
}

.bonzi-has-help
{
	cursor: help;
}

.ui-datepicker,
.bonzi-topbar ul.bonzi-menu ul,
.bonzi-mousetip,
.bonzi-notice,
.ui-sortable-helper > div.ui-state-default,
ol.bonzi-form .ui-sortable-helper,
.ui-draggable-dragging,
.bonzi-shadow
{
	box-shadow: 3px 3px 4px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.25);
	-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.25);
}

.ui-menu .ui-menu-item {
	list-style-image: none;
}
